* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "work sans", sans-serif;
}

@font-face {
  font-family: "Myriad Pro";
  src: url(fonts/myriadpro-light.otf);
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: bold;
  src: url(fonts/myriadpro-bold.otf);
}
@font-face {
  font-family: "WorkSans Bold";
  font-weight: bold;
  src: url(fonts/WorkSans-Bold.otf);
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1150px;
	margin: 0px auto;
}

.container h2 {
	color: #233148;
	font-size: 30px;
	line-height: 60px;
	font-family: "Myriad Pro", sans-serif;
}

#hero {
	height: 1000px;
	padding-top: 48px;
	background-color: #0fd5ef;
	background-image: url(images/wave.png), url(images/smartphone.png), url(images/bg.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 100%, auto, cover;
	background-position: center bottom, center bottom -77px, center bottom;
}
header {
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
}
header img {
	display: inline-block;
}
header ul li {
	display: inline-block;
}
header ul li a {
	font-size: 16px;
	color: white;
	padding: 0px 30px;
	font-family: "Myriad Pro", sans-serif;
	font-weight: bold;
}
header ul li a:last-child {
	padding-right: 0px;
}
#hero h1 {
	width: 575px;
	text-align: center;
	font-size: 45px;
	line-height: 60px;
	font-weight: bold;
	font-family: "WorkSans Bold", sans-serif;
	color: white;
    margin: 134px auto 0px auto;
}
#hero h2 {
	width: 575px;
	text-align: center;
	font-size: 15px;
	line-height: 27px;
	font-family: "Myriad Pro", sans-serif;
	color: white;
    margin: 0px auto;
    margin-top: 15px;
    font-weight: normal;
}
#hero #actions a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	padding: 0px 32px;
	font-size: 14px;
	font-family: "WorkSans Bold", sans-serif;
	color: #233148;
	margin-left: 13px;
	margin-right: 13px;
}
#hero #actions {
	text-align: center;
	margin-top: 41px;
}
#hero #actions a:first-child {
	background-color: white;
}
#hero #actions a:nth-child(2){
	border: 1px solid white;
	color: white;
}

/** features **/

#features {
	background-color: #fafafc;
	height: 1095px;
}
#features .container {
	display: flex;
	justify-content: space-between;
}

#features #phone-image > img {
	margin-top: 290px;
	margin-left: 110px;
}

#feature-list {
	position: relative;
}
#feature-list div {
	position: absolute;
	background-color: white;
	width: 270px;
	height: 320px;
	border-radius: 5px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	margin-bottom: 20px;
	padding: 60px 30px 34px 30px;
}
#feature-list div:nth-child(1){
	right: 370px;
	top: 117px;
}
#feature-list div:nth-child(2){
	right: 38px;
	top: 213px;
}
#feature-list div:nth-child(3){
	right: 437px;
	top: 511px;
}
#feature-list div:nth-child(4){
	right: 87px;
	top: 635px;
}

#feature-list div img {
    margin: 0px auto;
    display: block;
}
#feature-list div h3 {
	text-align: center;
	font-size: 14px;
	line-height: 27px;
	color: #233148;
	margin-top: 29px;
	margin-bottom: 16px;
}
#feature-list div p {
	text-align: center;
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
}

#stable {
	padding-top: 83px;
	padding-bottom: 103px;
	display: flex;
	justify-content: space-between;
	height: 625px;
}

#stable > div {
	width: 470px;
}
#stable > ul {
	width: 570px;
}
#stable > div > h2 {
	margin-top: 48px;
	text-align: right;
}
#stable > div > p {
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
	text-align: right;
	margin-top: 31px;
	margin-bottom: 53px;
	font-family: "Myriad Pro", sans-serif;
}
#stable > div > div {
	text-align: right;
}
#stable > div > div > a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: white;
	background-color: #33d2fd;
	padding: 0px 44px;
	border-radius: 5px;
	font-size: 15px;
	font-family: "WorkSans Bold", sans-serif;
}

#stable ul li p {
	display: none;
	padding-left: 80px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 27px;
	color: white;
	font-family: "WorkSans Bold", sans-serif;
}

#stable li {
	margin-bottom: 20px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	border-radius: 4px;
}
#stable li a {
	line-height: 75px;
	padding-left: 80px;
	font-size: 15px;
	color: #233148;
	font-family: "WorkSans Bold", sans-serif;
	background-repeat: no-repeat;
    display: inline-block;
    height: 75px;
    width: 100%;
    background-position: 26px center;
}
#stable li:nth-child(1) a {
	background-image: url(images/heart.png);
}
#stable li:nth-child(2) a {
	background-position: 34px center;
	background-image: url(images/tag.png);
}
#stable li:nth-child(3) a {
	background-image: url(images/brifcase.png);
}
#stable li:nth-child(4) a {
	background-image: url(images/pencil.png);
}

#stable li:hover {
	background-color: #33d2fd;
	padding-bottom: 26px;
}
#stable li:hover p {
	display: block;
}


/** everything **/
#everything {
	background-color: #fafafc;
	padding-top: 50px;
}

#everything .container {
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
}
#everything {
	padding-bottom: 60px;
}
#everything img {
	margin-right: 120px;
}

#everything h2 {
	margin-top: 25px;
	margin-bottom: 30px;
}

#everything .container > div a:first-child {
	margin-bottom: 30px;
}
#everything .container > div a {
	display: block;
	font-size: 15px;
	line-height: 27px;
	color: #233148;
	font-family: "work sans semibold", sans-serif;
	padding-left: 35px;
	background: url(images/check.png) no-repeat;
	background-position: left center;
	font-weight: bold;
}

#everything .container p {
	margin-top: 37px;
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
}

/* availble */

#availble {
	background-image: url('./images/bg.png');
	position: relative;
}

#availble .container {
	display: flex;
	justify-content: space-between;
}

#availble .container > img {
	display: block;
	margin-left: 182px;
	margin-top: 112px;
	margin-bottom: 90px;
}

#availble .container > div {
	margin-left: 160px;
}

#availble .container h2 {
	margin-top: 260px;
	margin-bottom: 14px;
	font-size: 30px;
	line-height: 60px;
	color: #233148;
	font-family: "work sans bold", sans-serif;
}

/* #availble .container h2 {
	color: #233148;
	font-size: 30px;
	line-height: 60px;
	font-family: "Myriad Pro", sans-serif;
	margin-top: 280px;
	margin-bottom: 20px;
} */

#availble .container p {
	color: #fff ;
	font-family: "work sans bold", sans-serif;
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 35px;
}

#availble ul li {
	display: inline-block;
	margin-right: 40px;
}

#availble .container > a {
	color: #fff;
	display: block;
	position: absolute;
	width: 360px;
	height: 70px;
	bottom: -35px;
	left: 50%;
	transform: translate(-50%, 0);
	background-image: linear-gradient(to top, #f6387d,#fe7570 );
	text-align: center;
	text-transform: uppercase;
	line-height: 70px;
	border-radius: 5px;
	box-shadow: 0px 11px 29px rgba(255,7,94,0.2);
	font-family: "work sans bold", sans-serif;
	font-weight: bold;
	font-size: 20px;
}


/* link  */
#links {
	padding-top: 140px;
	display: flex;
	justify-content: center;
}

#links > div {
	margin: 0px 20px;
}

#links > div > h3 {
	font-size: 15px;
	line-height: 27px;
	color: #6a6d89;
	font-family: "work sans bold", sans-serif;
}

#links ul a {
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
	display: block;
	height: 27px;
	width: 150px;
	text-align: left;
}

/* get-in-touch */

#get-in-touch {
	text-align: center;
	margin-bottom: 85px;
}

#get-in-touch h2 {
	margin-top: 100px;
	margin-bottom: 9px;
}

#get-in-touch p{
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
	margin-bottom: 72px;
	font-weight: normal;
}

#get-in-touch input {
	outline: none;
	border: none;
	background-color: #f6f7fb;
	width: 578px;
	height: 52px;
	font-size: 20px;
	padding-left: 20px;
	font-size: 20px;
	margin-right: 40px;
}

#get-in-touch button {
	outline: none;
	border: none;
	background-color: #33D2FD;
	width: 180px;
	height: 52px;
	text-transform: uppercase;
	font-weight: bold;
}


/* footer  */

footer {
	background-color: #233148;
	color: #fff;
	height: 100px;
}

footer .container {
	display: flex;
	justify-content: space-between;
}

footer p {
	line-height: 100px;
}

footer ul li{
	display: inline-block;
	margin: 0px 25px;
	transform: translate(0px, 7px);
	line-height: 100px;
}